*{
    text-align: justify;
}

body{
    background-color: rgba(219, 162, 6, 0.379);
}

a{
    text-decoration: none;
    color: blue;
}

#content{
	width: 888px;
    margin: 0 auto;
}


.grid{
    width: 888px;
    margin: 0 auto;
}

.elso p {
    text-indent: 25px;
}
  
  
.container img {
order: 2;
}

.container p {
order: 1;
}


.grid{
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 3px;
    grid-auto-rows: minmax(100px, auto);
    
}

.masodik{
    border: 2px solid green;
    text-align: center;
    width: 75%;
    height: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: rgba(237, 201, 19, 0.705);
}

.negyedik{
    margin-left: -8em;
}

.masodik>img, .harmadik>img{
    border-radius: 15px;
}

.harmadik{
    border: 2px solid green;
    text-align: center;
    width: 75%;
    height: 80%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: rgba(237, 201, 19, 0.705);
}


.kepszoveg{
	font-weight: bold;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
}

h1, h2{
    text-transform: uppercase;
    color: forestgreen;
}

p, ol, ul, li{
    text-align: justify;
    margin-bottom: 5px;
}

ul>li{
    list-style-type: square;
}

li{
    width: 85%;
}

#imageleft{
    margin-right: 40px;
    margin-bottom: 80px;
}

#imageright{
    margin-left: 20px;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}
