#content{
	width: 888px;
}
#imageright{
	margin-left: 20px;
}
#imageleft{
	margin-right: 40px;
    margin-bottom: 80px;
}
.kepszoveg{
	font-weight: bold;
    font-style: italic;
    text-align: center;
}

h1, h2{
    text-transform: uppercase;
    color: forestgreen;
}