body {
  background-color: rgba(219, 162, 6, 0.379);
}

#content {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.masodik {
  border: 2px solid green;
  text-align: center;
  width: 300px;
  height: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgba(237, 201, 19, 0.705);
  display: block;
}

.harmadik {
  border: 2px solid green;
  text-align: center;
  width: 75%;
  height: 80%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgba(237, 201, 19, 0.705);
}

.kepszoveg {
  font-weight: bold;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
}

h1,
h2 {
  text-transform: uppercase;
  color: forestgreen;
}

ul {
  list-style-type: square;
}
#imageleft {
  margin-right: 40px;
  margin-bottom: 80px;
  display: block;
  float: left;
  width: 300px;
}

#imageright {
  margin-left: 20px;
  display: block;
  float: right;
}

a,
a:visited {
  color: blue;
}

a:hover,
a:active {
  color: red;
}

@media only screen and (max-width: 600px) {
  #imageright {
    display: block;
    float: left;
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
  }
  #imageleft {
    display: block;
    float: right;
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
  }
  h2 {
    text-align: center;
    margin: 0px 4em;
  }
  h1 {
    text-align: center;
    margin: 0px 4em;
  }
}
